
export(AUCell_buildRankings)
export(AUCell_calcAUC)
export(AUCell_exploreThresholds)
export(AUCell_plot)
export(aucellResults)
export(getAUC)
export(getRanking)
export(nGenes)
export(plotGeneCount)
export(setGeneSetNames)
export(subsetGeneSets)
import(GSEABase)

import(data.table)
import(SummarizedExperiment)

